@import "bootstrap-responsive.min.css";
@import "../fonts/fonts.css";
body{
    font-family: 'Open Sans';
    padding-top: 80px;
    overflow-y: scroll;
}


@media (max-width: 979px) {
    body {
        padding-top: 0;
    }

    .navbar-fixed-top {
        margin: 0;
    }

    .navbar-fixed-top .navbar-inner,
    .navbar-fixed-bottom .navbar-inner {
        padding: 0 20px;
    }
}

.loading{
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.15);
    opacity: 0.9;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 150px;
}
.loading p{
    padding-top: 7%;
}
@-webkit-keyframes orbit {
    from { -webkit-transform:rotate(0deg) }
    to { -webkit-transform:rotate(360deg) }
}

.rotateO{
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    -webkit-animation-duration:3s;
    display: inline-block;
    width: 70px;
    height: 70px;
    border: #d35400 dotted 10px;
    border-radius: 70px;
    opacity: 1;
    text-shadow: 6px 5px 5px rgba(0,0,0,0.5);
    vertical-align: middle;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 2.76243%;
}
.row-fluid .span-out {
    margin-left: 4.76243%;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(91, 202, 255, 0.80);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
    background: #eee;
}
.hero-unit{
 padding: 5px 5px 5px 5px;
 margin-bottom: 5px;

}

.navbar a {
    color: #fff;
}

.navbar-fixed-top .navbar-inner {
    background: #d35400;
    min-height: 70px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
    padding: 5px 20px;
}

.navbar .brand {
    font-size: 2.1429em;
    font-weight: bold;
    padding: 25px 20px 0;
    margin: 0;
    text-shadow: none;
    color: #fff;
}

.container {
    width: auto;
    margin: 0;
}

.navbar-fixed-top .container {
    width: auto;
}

.tabs-left > .nav-tabs {
    font-size: .929em;
    margin: 0;
    width: 140px;
    background: #f2f2f2;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    box-shadow: -2px 0 5px rgba(0,0,0,.1) inset;
}

.icon {
    display: inline-block;
}

.icon-wf {
    font-family: Entypo;
    font-size: 32px;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    line-height: 0;
    vertical-align: bottom;
    color: #7f7f7f;
    background: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon-action {
    cursor: pointer;
}

.tabs-left .nav-tabs .icon {
    font-size: 64px;
    display: block;
    margin: 0 auto;
    width: 48px;
    height: 48px;
    line-height: 16px;
    color: #aaa;
}

.tabs-left .nav-tabs li {
    margin: 10px;
    border-bottom: 1px solid #c4c4c4;
    box-shadow: 0 1px 0 #fff;
}

.tabs-left .nav-tabs li:last-child {
    border-bottom: none;
    box-shadow: none;
}

.tabs-left .nav-tabs a {
    text-align: center;
    color: #aaa;
    margin: 0 0 10px;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
    background-color: transparent;
    color: #454545;
    border: 0;
}

.tabs-left > .nav-tabs > li > a {
    margin: 0 0 10px;
}

.nav-tabs > li > a {
    border: none;
    transition: background .25s ease-in-out;
    cursor: pointer;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #fff;
    border-radius: 2px;
}

.nav-tabs > .active .icon {
    color: #d35400;
}

.tab-content {
    padding-left: 140px;
}

.tabs-left > .nav-tabs > li:last-child > a {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel {
    padding: 1.429em 3.5em;
    border-bottom: 1px solid #e4e4e4;
    background: #f2f2f2;
}
.subpanel {
    padding-top: 0.5em;
    background: #f2f2f2;
    vertical-align: middle;
}

.panel input[type="text"] {
    width: 24em;
    height: 28px;
    margin: 0 1em 0 0;
    border-radius: 2px;
}
.panel input[type="email"] {
    width: 10em;
    height: 14px;
    margin: 0 1em 0 0;
    border-radius: 2px;
}
.panel input[type="checkbox"] {
    width: 1em;
    height: 14px;
    margin: 0 1em 0 0;
    border-radius: 2px;
}
.panel input[type="number"] {
    width: 3em;
    height: 16px;
    margin: 0 1em 0 1em;
    border-radius: 2px;
}
.panel form {
    display: inline;
}

.page-content {
    padding: 1.429em 3.5em 8em;
}


.btn {
    border-radius: 2px;
    box-shadow: none;
    text-shadow: 0 1px 0 rgba(0,0,0,.25);
}
.btn:hover,
.btn:focus {
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.btn:active,
.btn:active:hover {
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.25);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.25);
}

.btn-large {
    font-size: 1em;
    padding: 8px 1em;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-large:active {
    padding: 9px 1em 7px;
}

.btn-info {
    background: #31aef5;
    border-color: #1e95d8;
    
}
.btn-info:hover,
.btn-info:focus {
    background: -webkit-linear-gradient(top, #31aef5, #2c9cdc);
    background: -moz-linear-gradient(top, #31aef5, #2c9cdc);
    background: -o-linear-gradient(top, #31aef5, #2c9cdc);
    background: -ms-linear-gradient(top, #31aef5, #2c9cdc);
    background: linear-gradient(top, #31aef5, #2c9cdc);
}

.btn-info:active,
.btn-info:active:hover {
    background: #31aef5;
}

.btn-success {
    background: #45bb38;
    border-color: #36a72a;
}

.btn-success:hover,
.btn-success:focus {
    background: -webkit-linear-gradient(top, #45bb38, #3ea832);
    background: -moz-linear-gradient(top, #45bb38, #3ea832);
    background: -o-linear-gradient(top, #45bb38, #3ea832);
    background: -ms-linear-gradient(top, #45bb38, #3ea832);
    background: linear-gradient(top, #45bb38, #3ea832);
}

.stats {
}

.stats-item {
    display: inline-block;
    margin-right: 2.5em;
    vertical-align: top;
    text-align: center;
}

.stats-label {
    font-size: 0.92em;
    text-transform: lowercase;
    display: inline-block;
}

.stats-count {
    font-size: 3.2857em;
    font-weight: 300;
    display: block;
    color: #d35400;
    line-height: 1;
}

.stats-theme-light {
    color: #fff;
    cursor: pointer;
}

.stats-theme-light .stats-count {
    color: #fff;
}
.stats-theme-light.hovered .stats-count {
    color: #92d7f5
}
.stats-theme-light.hovered {
    color: #92d7f5
}
.page-info {
    margin-bottom: 2em;
}

.pages-item-list {
    max-width: 60em;
}
.item-list-leave, .item-list-enter {
    -webkit-transition:line-height cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -moz-transition:line-height cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -ms-transition:line-height cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -o-transition:line-height cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:line-height cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}
.search-more-leave, .search-more-enter {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.search-more-enter {
    line-height: 0;
    opacity: 0;
}
.search-more-enter.search-more-enter-active {
    line-height: 30px;
    opacity: 1;
}

.search-more-leave {
    line-height: 30px;
    opacity: 1;
}
.search-more-leave.search-more-leave-active {
    line-height: 0;
    opacity: 0;
}

.pages-item {
    border: 1px solid #e3e3e3;
    padding: 1em;
    margin-bottom:  1em;
    position: relative;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.pages-item:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    top: -2px;
}

.pages-item .status{
    font-size: 0.8571em;
    float: right;
    color: #7f7f7f;
}

.pages-item-url {
    font-size: .9285em;
}

.pages-item-copy {
    font-size: 0.8571em;
}

.search-results {
    max-width: 60em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.search-results-item {
    position: relative;
    padding: 1em;
    margin-bottom:  1em;
    border: 1px solid #e3e3e3;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.search-results-item:hover {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    top: -2px;
}

.search-results-details {
    padding-top: .25em;
}
small > p {
    margin: 0;
}