@font-face {
	font-family: 'Entypo';
	src: url('entypo.eot?#iefix') format('embedded-opentype'),
		url('entypo.woff') format('woff'),
		url('entypo.ttf') format('truetype'),
		url('entypo.svg') format('svg');
}