{% extends 'layout/layout.twig' %}
{% block global_stat %}
{% verbatim %}
<div ng-click="sendRequest('getStat')" class="stats stats-theme-light pull-right" title="Click to refresh stat">
    <span class="stats-item"><span class="stats-label">in queue</span> <span class="stats-count">{{stat.query}}</span></span>
    <span class="stats-item"><span class="stats-label">in progress</span> <span class="stats-count">{{stat.progress}}</span></span>
    <span class="stats-item"><span class="stats-label">done</span> <span class="stats-count">{{stat.done}}</span></span>
</div>
{% endverbatim %}
{% endblock %}

{% block data %}
{% verbatim %}
    <div  ng-if="loading" class="loading"><p>L<span class="rotateO"></span>ading...</p></div>
    <div class="row-fluid">
        
        <tabset class="tabbable tabs-left">
            <tab>
            <tab-heading>
                <span class="icon icon-wf">&#59392;</span>
                Page Info
            </tab-heading>
                <div class="panel">
                    <!-- Enter target url -->
                    <form>
                        <input type="text" ng-change="displayAdd = false; displayDomain = false;showPagesIL = false;" ng-submit="sendRequest('checkStatus')" placeholder="http://example.com" ng-model="url" class="panel-input">
                        <button class="btn btn-info btn-large" ng-click="sendRequest('checkStatus')" >{{ getActionName('checkStatus') }}</button>
                        <button class="btn btn-success btn-large" ng-show="displayDomain" ng-click="sendRequest('domainInfo')" >{{ getActionName('domainInfo') }}</button>
                    </form>
                </div>

                <div class="page-content">
                        <div compile="message"></div>
                        <button class="btn btn-success btn-large" ng-show="displayAdd" ng-click="sendRequest('toQuery')" >{{ getActionName('toQuery') }}</button>
                </div>
            </tab>
            <tab>
            <tab-heading>
                <span class="icon icon-wf">&#128269;</span>
                Search
            </tab-heading>
                <div class="panel">
                    <form>
                        <input type="text" placeholder="Search"  ng-submit="sendSearchRequest()" ng-model="searchText" class="panel-input">
                        <button type="submit" class="btn btn-success btn-large" ng-click="sendSearchRequest()" >Search</button>
                    </form>
                    <span class="icon-action icon icon-wf" ng-click="showSMore = !showSMore;" title="Click to expand" >&#59212;</span>
                <div class="subpanel" ng-if="showSMore" ng-animate="'search-more'">
                    <small>
                        <p>+&nbsp;&nbsp;&nbsp;&nbsp;leading plus sign indicates that this word must be present in each result that is returned.
                        <p>-&nbsp;&nbsp;&nbsp;&nbsp;leading minus sign indicates that this word must not be present in any of the result that are returned.
                        <p>(no operator)&nbsp;By default (when neither + nor - is specified) the word is optional, but the results that contain it are rated higher.
                        <p>> <&nbsp;&nbsp;two operators are used to change a word's contribution to the relevance value that is assigned to a result. The > operator increases the contribution and the < operator decreases it.
                        <p>( )&nbsp;&nbsp;parentheses group words into subexpressions. Parenthesized groups can be nested.
                        <p>~&nbsp;&nbsp;&nbsp;&nbsp;leading tilde acts as a negation operator, causing the word's contribution to the result's relevance to be negative.
                        <p>*&nbsp;&nbsp;&nbsp;&nbsp;asterisk serves as the truncation (or wildcard) operator. Unlike the other operators, it should be appended to the word to be affected. Words match if they begin with the word preceding the * operator.
                        <p>“&nbsp;&nbsp;&nbsp;&nbsp;A phrase that is enclosed within double quote (“ ”) characters matches only rows that contain the phrase literally, as it was typed.
                   </small>
                </div>
                </div>

                <div class="page-content">
                    <p ng-show="links.length < 1 && searchResult.length < 1">Search results will show here</p>
                    <p ng-show="searchResult.length > 1">{{searchResult}}</p>
                    <ol class="nav-list search-results">
                        <li ng-repeat="link in links" class="search-results-item">
                            <i class="icon icon-wf icon-action pull-right" ng-click="divShow = !divShow" compile='divArrow(divShow)'></i>
                            <a href="{{ link.url }}" title = "{{ link.domain }}" target="_blank">{{ link.title }}</a>
                            <div class="search-results-details" ng-show="divShow">
                                <small>Last indexed: <a href="/preview?url={{ link.hash_url }}" target="_blank" title="Saved copy">{{link.date}}</a></small>
                            </div>
                        </li>
                    </ol>
                    <div style="height: 10px"></div>
                </div>
            </tab>
        </tabset>
    </div>
{% endverbatim %}
{% endblock %}

{% block javascripts %}

{% endblock %}