{{ docType() }}
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}tt.site-indexer.bench!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/indexerStyle.css" rel="stylesheet">
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="img/favicon.ico">
    {% block stylesheets %}{% endblock %}
</head>
<body ng-app="indexerApp" ng-controller="mainCtrl">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ url('indexer') }}">SiteIndexer-bench-project</a>
            <div class="pull-right">
                {% block global_stat %}
                {% endblock %}
                <!-- <a href="">About us</a>
                <a href="">Follow us</a>
                <a href="https://bitbucket.org/xplk/zend_site_indexer">Project source</a> -->

            </div>
        </div>
    </div>
</div>

{% block header %}

{% endblock %}
<div class="container">

    {% block data %}

    {% endblock %}

</div>
<footer class="modal-footer navbar-fixed-bottom">
    {% block footer %}
        &copy; tt.istrelnikov 2013
    {% endblock %}
</footer>
<script src="/js/libs/angular1.1.5.min.js"></script>
<script src="/js/libs/ui-bootstrap-tpls-0.5.0.js"></script>
<script type="text/javascript" src="/js/indexerApp.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>